@import "variables/colors"
@import 'utils/border'
@import 'common/base'
@import 'components/components'

.page-content
    &.--pushed
        margin-top: 86px
        @media (max-width: 992px)
            margin-top: 115px

    // ---- START BLOCK 1
    .block-1
        margin-top: 16px
        display: grid
        grid-template-columns: repeat(2,1fr)

        @media (max-width: 992px)
            margin-top: 0
            grid-template-columns: repeat(1,1fr)
            margin-right: calc(-.5* 1.5rem)
            margin-left: calc(-.5* 1.5rem)

        .break-line
            margin-bottom: 10px

        .list-post
            padding: 15px 12px 15px 15px

        &.box-border
            @media (max-width: 992px)
                border: unset

        .left-content
            padding: 15px 15px 8px 15px
            border-right: 0.5px solid $borderColor
            @media (max-width: 992px)
                padding: 0
                border: unset

            &__main-post
                border-radius: 6px
                background: linear-gradient(0deg, $blueColor 0%, $blueColor 100%), url(<path-to-image>) lightgray 50% / cover no-repeat

                @media (max-width: 992px)
                    background: unset

                &:hover
                    .main-post__title
                        color: $blueColor8

            &__list-post
                color: $textColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 600
                line-height: 20px
                padding: 16px 15px
                @media (max-width: 992px)
                    padding: 16px 27px
                & ul
                    padding: 0
                    margin: 0

            .main-post
                &__content
                    padding: 15px 15px 30px 15px
                    width: auto
                    height: 173px
                    @media (max-width: 992px)
                        width: 100%
                        height: auto
                        display: flex
                        flex-flow: column
                        padding: 16px 12px 0 12px

                &__image
                    width: 100%
                    height: 332px
                    border-radius: 6px 6px 0px 0px

                    @media (max-width: 992px)
                        border-radius: unset
                        height: 212px
                        object-fit: cover

                &__info
                    display: flex
                    justify-content: space-between
                    align-items: center

                    @media (max-width: 992px)
                        order: 3
                        border-bottom: 0.8px solid gray
                        padding: 14px 0 16px 0
                        justify-content: flex-start

                &__time-comment
                    display: flex
                    gap: 0 6px
                    @media (max-width: 992px)
                        order: 1
                        align-items: center

                &__description
                    color: $blackColor
                    font-family: Mulish
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: 22px
                    @media (max-width: 992px)
                        order: 2

                &__category
                    color: $redColor
                    font-family: Mulish
                    font-size: 10px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px
                    text-transform: uppercase
                    cursor: pointer
                    @media (max-width: 992px)
                        order: 2
                        color: $redColor1
                        font-family: Mulish
                        font-size: 10px
                        font-style: normal
                        font-weight: 500
                        line-height: 16px
                        text-transform: uppercase

                &__created-at,
                &__created-at-hour
                    color: $whiteColor
                    text-align: right
                    font-family: Mulish
                    font-size: 10px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px
                    cursor: pointer

                    @media (max-width: 992px)
                        color: $grayColor2
                        font-family: Mulish
                        font-size: 10px
                        font-style: normal
                        font-weight: 500
                        line-height: 16px
                        text-transform: uppercase

                &__title
                    color: $whiteColor
                    font-family: Mulish
                    font-size: 26px
                    font-style: normal
                    font-weight: 800
                    line-height: 36px
                    margin: 0
                    width: 459px
                    height: 107px

                    @media (max-width: 992px)
                        color: $blackColor1
                        width: 100%
                        order: 1
                        height: auto

                &__comment
                    color: $whiteColor
                    font-family: Mulish
                    font-size: 11px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px
                    cursor: pointer

            &__li
                margin-bottom: 12px
                &:hover
                    color: $blueColor8

            &__li:last-child
                margin-bottom: 0px

        .right-content
            padding: 15px
            @media (max-width: 992px)
                padding: 15px 12px

            &__item
                display: flex
                flex-flow: column
                border-bottom: 0.8px solid $borderColor
                padding-bottom: 15px
                margin-bottom: 15px

                @media (max-width: 992px)
                    padding-bottom: 12px
                    margin-bottom: 12px

            &__item:last-child
                border-bottom: unset
                padding-bottom: 0
                margin-bottom: 0

            &__item-content
                display: flex
                flex-flow: row
                gap: 0 32px
                @media (max-width: 992px)
                    gap: 0 12px
                    justify-content: space-between

            &__title-box
                display: flex
                flex-flow: column
                justify-content: space-between

            &__title
                color: $blackColor
                font-family: Mulish
                font-size: 17px
                font-style: normal
                font-weight: 700
                line-height: 24px

            &__info
                align-items: flex-end
                margin-top: 5px

            & ul
                margin: 0

            &__image
                width: 161px
                height: 111px
                border-radius: 4px
                object-fit: cover
                @media (max-width: 992px)
                    width: 134px
                    height: 93px
    // ---- END BLOCK 1

    // ---- START BLOCK 2
    .block-2
        display: flex
        gap: 0 16px
        padding: 23px 0 48px 0

        @media (max-width: 992px)
            flex-flow: column
            padding: 8px 0 12px 0

        .break-line
            margin: 14px 0

        .main-content
            width: calc(100% - 330px)
            @media (max-width: 992px)
                order: 2
                width: 100%
        .block
            &__left
                @media (max-width: 992px)
                    order: 2

            &__right
                height: 616px
                padding: 8px
                border: 0.8px solid $borderColor
                background: $whiteColor
                @media (max-width: 992px)
                    order: 1
                    width: 100%
                    height: 600px

                    display: flex
                    justify-content: center
                    margin-bottom: 24px
                    border: unset
                    padding: 0

        .item
            &__text-content
                order: 2
                @media (max-width: 992px)
                    order: 1

            &__image
                order: 1
                @media (max-width: 992px)
                    order: 2
        .ads
            width: 300px
            height: 600px
            background: $grayColor3
    // ---- END BLOCK 2

    .block-video-mb
        margin: 20px 0 28px 0
        .list-scroll__ul
            gap: 0 16px

    // ---- START BLOCK 3
    .block-3
        .tags-box
            display: flex
            margin-top: 10px
            gap: 0 10px

        .tags
            overflow: scroll
            &__ul
                margin: 0
                padding: 0 0 15px
                list-style: none
                display: flex
                gap: 0 15px
                overflow: hidden
                width: max-content
                align-items: center

            &__li
                width: max-content
                padding: 2px 6px

                &:hover
                    color: $redColor1
                    border: 1px solid $borderColor
                    background: $whiteColor
                    border-radius: 200px
                    // padding: 2px 6px
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1)

                &.--active
                    border-radius: 200px
                    border: 1px solid $borderColor
                    background: $whiteColor
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
                    // padding: 2px 6px
                    color: $redColor1

        .block
            gap: 16px
            @media (max-width: 992px)
                gap: 12px 0

            &__left
                grid-column: 1 / 3
                border: 0.8px solid $borderColor
                background: $whiteColor
                padding: 15px
                @media (max-width: 992px)
                    grid-column: unset
                    border: unset
                    padding: 0

            &__right
                position: relative
                overflow: hidden
                padding: 15px 16px 15px 11px
                border: 1px solid $borderColor
                background: $whiteColor
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
                @media (max-width: 992px)
                    border: unset
                    box-shadow: unset
                    padding: 0 0 0 15px

                &__list
                    padding: 0
                    display: flex
                    flex-flow: column
                    gap: 12px 0
                    color: $redColor1

                &__list-item
                    span
                        color: $textColor

                &__block-hide
                    position: absolute
                    height: 70px
                    width: 100%
                    bottom: 0
                    background: linear-gradient(0deg, #fff 63.76%, rgba(17, 20, 53, 0) 120%)

                &__tab
                    display: flex
                    justify-content: center

                    .tab
                        width: 244px
                        height: 40px
                        list-style: none
                        display: flex
                        border-radius: 200px
                        border: 1px solid $borderColor
                        background: $whiteColor
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
                        padding: 0
                        align-items: center
                        overflow: hidden
                        justify-content: center

                        &__item
                            padding: 5px 10px
                            width: 119px
                            height: 34px
                            &.--active
                                border-radius: 200px
                                background-color: $redColor1

                &__tab-item-content
                    &.--hide
                        display: none

                .tab-list
                    list-style: none
                    padding: 0

                    &__item
                        display: flex
                        gap: 0 9px
                        padding: 8px 0 0 0

                    &__index
                        color: $redColor
                        font-family: Mulish
                        font-size: 26px
                        font-style: normal
                        font-weight: 800
                        line-height: 36px

                    &__title
                        color: $textColor
                        font-family: Mulish
                        font-size: 14px
                        font-style: normal
                        font-weight: 700
                        line-height: 20px
    // ---- END BLOCK 3

    // ---- START BLOCK 4
    .block-4
        margin-top: 54px
        @media (max-width: 992px)
            margin-top: 30px

        .break-line.block
            margin: 15px 0

        &__main-content
            margin-top: 32px
            display: flex
            gap: 0 16px
            @media (max-width: 992px)
                flex-flow: column
                margin-top: 22px

        &__left-content
            width: calc(100% - 314px)
            padding: 15px
            border: 0.8px solid $borderColor

            @media (max-width: 992px)
                width: 100%
                border: unset
                padding: 15px 0

            .list-extend__ul
                gap: 12px 0
                padding-left: 12px

        &__right-content
            width: 314px
            display: flex
            flex-flow: column
            gap: 12px 0

            @media (max-width: 992px)
                width: 100%

        .ads
            width: 314px
            height: 262px
            padding: 6px 7px
            border: 0.8px solid $borderColor
            background: $whiteColor
            @media (max-width: 992px)
                width: 100%
                border: unset
                display: flex
                justify-content: center

            &__content
                width: 300px
                height: 250px
                background-color: $grayColor3

    // ---- END BLOCK 4

    // ---- START BLOCK 5
    .block-5
        margin-top: 49px

        .title-and-line__line
            width: 60px

        &__bottom-head
            border: 0.8px solid $borderColor
            background: $grayColor6
            padding: 22px 16px

            &--icon
                color: $redColor
                font-family: Mulish
                font-size: 24px
                font-style: normal
                font-weight: 800
                line-height: 20px

            &--title
                color: $blackColor
                font-family: Mulish
                font-size: 24px
                font-style: normal
                font-weight: 800
                line-height: 20px

            &--ul
                padding-left: 12px
                list-style: none
                display: grid
                grid-template-columns: repeat(3, 1fr)
                margin: 20px 0 0 0
                gap: 0 28px

                @media (max-width: 992px)
                    grid-template-columns: repeat(1, 1fr)

                .break-dashed-line
                    margin: 6px 0 8px 0

            &--li
                color: $blackColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 20px

                &:hover
                    color: $redColor1

                &.--active
                    color: $redColor1

            .item
                display: flex
                flex-flow: column
                gap: 4px 0

                &__time
                    color: $grayColor1
                    font-family: Mulish
                    font-size: 11px
                    font-style: normal
                    font-weight: 600
                    line-height: 16px
                    text-transform: uppercase
                    display: flex

                    ul
                        list-style: disc

                &__hour,
                &__date
                    cursor: pointer

        // &__body,
        .block
            margin-top: 40px

            .break-line
                margin: 14px 0

            &__left

                .list-post
                    .item__text-content
                        order: 2
                    .item__image
                        order: 1

            &__right
                background: $whiteColor

                .table-ranking
                    width: 314px
                    height: 604px
                    overflow-y: scroll
                    padding: 19px 16px 0 13px
                    border: 0.8px solid $borderColor

                    &__table
                        margin-top: 19px
                        tbody
                            tr:hover
                                td,
                                th
                                    color: $blueColor8
                    th
                        color: $grayColor7
                        font-family: Mulish
                        font-size: 11px
                        font-style: normal
                        font-weight: 400
                        line-height: 26px
                        text-transform: uppercase

                    thead
                        th
                            border: unset
                            background: #F5F5F6
                            padding-top: 0
                            padding-bottom: 0

                    tbody
                        tr:first-child
                            th,
                            td
                                border-top: unset

                        tr:last-child
                            th,
                            tr
                                border-bottom: unset

                    &__title
                        display: flex
                        gap: 0 8px
                        align-items: center

                    .table
                        margin: 0
                        .big-col
                            width: 120px

                        .small-cal
                            width: 40px

                .comments
                    padding: 15px 11px
                    margin-top: 32px
                    width: 314px
                    height: 467px
                    border: 0.8px solid $borderColor
                    background: $whiteColor

                    .break-line
                        margin: 16px 0 0 0
    // ---- END BLOCK 5

    // ---- START BLOCK 6
    .block-6
        margin-top: 42px

        .list-scroll
            &__ul
                display: flex
                gap: 0 30px
                color: $redColor
                padding-left: 15px
                list-style-type: disc

            &__li
                :hover
                    color: $blueColor8
                    font-weight: 500
                span
                    color: $textColor

        .block
            .list-grid-post__body
                @media (max-width: 992px)
                    gap: 12px 26px

            .break-line
                @media (max-width: 992px)
                    margin-top: 12px

            &__left
                padding: 15px
                border: 0.8px solid $borderColor
                background: $whiteColor

                @media (max-width: 992px)
                    padding: 0
                    border: unset

            &__right
                height: 508px
                padding: 19px 18px 0 18px
                border: 0.8px solid $borderColor
                overflow-y: scroll

    // ---- END BLOCK 6

    // ---- START BLOCK 7
    .block-7
        margin-top: 59px
        display: flex
        gap: 0 15px

        @media (max-width: 992px)
            flex-flow: column

        &__left
            width: calc(100% - 329px)
            @media (max-width: 992px)
                width: 100%

            &--body-top
                padding: 15px 15px 19px 15px
                border: 0.8px solid $borderColor
                background: $whiteColor
                @media (max-width: 992px)
                    padding: 0
                    border: unset

                .list-grid-post__body
                    gap: 0 20px

                .break-line
                    margin: 13px 0

            &--body-middle
                margin: 26px 0 24px

                .break-line
                    margin: 14px 0
                    @media (max-width: 992px)
                        margin: 12px 0

            .list-post
                .item__text-content
                    order: 2
                .item__image
                    order: 1

            &--body-bottom
                height: 476px
                padding: 19px 0 29px 15px
                @media (max-width: 992px)
                    border: unset
                    margin-top: 33px
                    padding: 0

                .tab-scroll
                    @media (max-width: 992px)
                        display: flex
                        flex-flow: column
                        gap: 13px 0

                .list-scroll__image,
                .tab-scroll__body .list-scroll__li
                    width: 266.348px
                    height: 422.561px

        &__right
            width: 314px
            @media (max-width: 992px)
                width: 100%
                margin-top: 54px

            .title-and-line__title
                left: 0
                padding-left: 0

            .post-and-list-extend

                .list-extend
                    @media (max-width: 992px)
                        height: auto

                .list-extend__ul
                    @media (max-width: 992px)
                        color: $redColor1

                .list-extend__li span
                    @media (max-width: 992px)
                        color: $textColor

            &--body-top,
            &--body-middle-2
                width: 100%
                height: 508px
                @media (max-width: 992px)
                    height: auto
                    border: unset
                    padding: 0

            &--body-middle-1
                width: 100%
                height: 560px
                @media (max-width: 992px)
                    height: auto

            &--body-bottom
                height: 476px
                margin-top: 23px
                padding: 15px 11px 37px

                .tab-list__list
                    margin: 0

                .break-line
                    margin-top: 16px
    // ---- END BLOCK 7

    .results-schedule-mb
        margin-top: 32px
        background: $whiteColor
        display: flex
        justify-content: center
        position: relative

        .results-schedule
            padding: 19px 18px 18px
            width: 314px
            height: 508px
            border: 0.8px solid $borderColor

            @media ( max-width: 992px  )
                width: 100%

            &__body--ul
                margin: 0

            .results-schedule__body
                overflow-y: scroll
                height: 450px

            .block-hide
                position: absolute
                height: 27px
                width: 299px
                bottom: 1px
                left: 50%
                background: linear-gradient(0deg, #fff 63.76%, rgba(17, 20, 53, 0) 120%)
                transform: translateX(-50%)

    .esport-scroll-mb
        margin-top: 50px
        overflow-y: scroll

        .tab-scroll
            display: flex
            flex-flow: column
            gap: 13px 0

            &__head
                .break-line
                    margin: 14px 0

    // ---- START BLOCK 8
    .block-8
        margin-top: 47px

        .block
            &__right
                @media(max-width: 992px)
                    margin-top: 42px

        &__right-head
            .title-and-line__title
                left: 0
                padding-left: 0

        &__right-body
            .post-and-list-extend
                @media(max-width: 992px)
                    border: unset
                    padding: 0

            .list-extend__ul
                @media(max-width: 992px)
                    color: $redColor1

    // ---- END BLOCK 8

    // ---- START BLOCK 9
    .block-9
        .block
            &__left
                &--top
                    display: flex
                    gap: 0 14px

                    .list-scroll ul
                        margin: 0

                &--center
                    margin-top: 18px
                    padding: 15px

                &--bottom
                    margin-top: 28px
                    .list-post
                        .break-line
                            margin: 14px 0

                        .item__text-content
                            order: 2

                        .item__image
                            order: 1

            &__right
                .ads
                    margin-top: 21px
                    padding: 8px 6px 8px
                    width: 314px
                    height: 617px

                    &__content
                        width: 300px
                        height: 600px

                        border: 0.8px solid $borderColor
                        background: $grayColor3
    // ---- END BLOCK 9

    // ---- START BLOCK 10
    .block-10
        margin-top: 54px
        @media(max-width:992px)
            margin-top: 8px

        .title-and-line__title
            left: 0
            padding-left: 0

        .block.three-col
            gap: 0 17px
            margin-top: 0

            .list-extend__ul
                @media (max-width: 992px)
                    color: $redColor1

            // .list-extend__li
            //     span
            //         color: $textColor

            .block
                &__col
                    @media (max-width: 992px)
                        border: unset
                        padding: 0
                        margin-top: 34px

                    &--body
                        height: 733px
                        @media(max-width:992px)
                            height: auto

            .post-and-list-extend
                @media (max-width: 992px)
                    border: unset
                    padding: 0

                .post__image
                    width: 100%
                    height: 209px

            .list-post
                .item__image
                    width: 111px
                    height: 76px

            .item__title
                // color: #000
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 20px

                // limit row display
                height: 76px

        .block
            margin-top: 28px

            &__left
                position: relative
                padding-bottom: 60px

                .break-line
                    margin: 14px 0

                .list-post
                    .item__text-content
                        order: 2

                    .item__image
                        order: 1

                .hidden-box
                    position: absolute
                    width: 100%
                    bottom: 0
                    height: 345px
                    background: linear-gradient(0deg, #FFF 17.71%, rgba(255, 255, 255, 0.00) 100%)
                    .hidden-block
                        position: relative
                        height: 100%

                        .btn-see-more
                            position: absolute
                            bottom: 44px
                            left: 50%
                            transform: translateX(-50%)
                            border-radius: 200px
                            border: 1px solid $redColor1
                            background: $whiteColor

                            color: $redColor1
                            text-align: center
                            font-family: Mulish
                            font-size: 16px
                            font-style: normal
                            font-weight: 700
                            line-height: 20px

            &__right
                &--top
                    padding: 8px 6px 8px
                    .ads
                        width: 300px
                        height: 600px
                        background: $borderColor

                &--bottom
                    padding: 15px 11px 16px
                    margin-top: 29px
                    min-height: 476px
                    position: relative

                    @media(max-width:992px)
                        margin-top: 0px
                        max-height: 508px
                        overflow: hidden

                .tab-list
                    position: relative

                    &__list--title
                        @media(max-width:992px)
                            width: 100%

                    &__block-hide
                        height: 0
                        position: absolute
                        width: 100%
                        left: 0
                        bottom: 0
                        z-index: 000
                        background: linear-gradient(0deg, $whiteColor 45.83%, rgba(255, 255, 255, 0.00) 100%)
                        @media(max-width:992px)
                            height: 50px

                    .break-line
                        margin-top: 16px

    .tags-hot-trend-mb
        margin: 28px 0 37px
    // ---- END BLOCK 10
