@import "variables/colors"
@import 'utils/border'

body
    margin: 0

p
    margin: 0

.logo
    text-transform: uppercase

    &__box
        display: flex
        align-items: flex-end

    &__text
        color: $whiteColor
        font-family: Mulish
        font-size: 8px
        font-style: normal
        font-weight: 500
        line-height: 12px /* 150% */
        text-transform: math-auto

    &__icon
        width: 1336px
        height: 70px
        flex-shrink: 0

    &__e
        color: $orangeColor
        -webkit-text-stroke-width: 0.4000000059604645
        -webkit-text-stroke-color: $blueColor2
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px /* 82.353% */

    &__s
        color: $redColor
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__p
        color: $greenColor2
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__o
        color: $blueColor3
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__r
        color: $purpleColor2
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__t
        color: $whiteColor
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

.head
    background-color: $blueColor2
    display: flex
    gap: 0 12px
    padding: 10px 75px

    @media (max-width: 992px)
        justify-content: center
        padding: 10px 20px

    .menu
        margin: 0
        padding: 0
        /* width: 888px */
        /* display: flex */
        align-items: center
        width: 100%
        text-transform: uppercase
        width: 100%
        justify-content: space-between

        &__item
            display: flex
            align-items: center
            color: $whiteColor
            font-family: Mulish
            font-size: 14px
            font-style: normal
            font-weight: 700
            line-height: 28px /* 200% */
            text-transform: uppercase
            text-align: center

.top-bar-pc
    padding: 0 75px
    background: $blackColor2
    justify-content: space-between

    &__ul
        color: $whiteColor
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 500
        line-height: 16px
        list-style: none
        display: flex
        margin: 0
        padding: 0

    &__li
        border-right: 1px solid $grayColor2
        padding-right: 15px
        margin: 5px 15px 5px 0

    &__li:last-child
        border-right: unset
        padding-right: 0
        margin: 5px 0

    &__widget
        display: flex
        gap: 0 20px

    &__date
        color: $whiteColor
        text-align: right
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 500
        line-height: 16px

    &__login-register
        color: $whiteColor
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 500
        line-height: 16px

.top-bar-mobile

    .vertical-division
        height: 16px

    &__menu
        padding: 8px 12px
        display: flex
        border-bottom: 1px solid $grayColor5

    &__widget
        display: flex
        align-items: center
        padding: 5px 12px

    &__ul
        margin: 0
        display: flex
        list-style: none
        color: $grayColor1
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 600
        line-height: 28px
        width: 100%
        justify-content: space-between
        padding-left: 12px
        align-items: center

.menu-mobile
    height: 100vh
    position: fixed
    width: 100vw
    top: 0
    left: 0
    color: $whiteColor
    overflow: scroll
    background-color: $blueColor2
    transition: left .5s

    &.--hide
        left: -100%

    &__icon-arrow
        rotate: 0deg
        transition: rotate .5s

        &.--down
            rotate: 180deg

    &__close-box
        height: 68px
        padding: 0 12px
        display: flex
        align-items: center
        justify-content: right

    &__colors-line
        display: flex
        .line-1
            width: 25%
            border: 1px solid $orangeColor
        .line-2
            width: 25%
            border: 1px solid $redColor
        .line-3
            width: 25%
            border: 1px solid $greenColor2
        .line-4
            width: 25%
            border: 1px solid $blueColor3

    &__content
        padding: 20px 12px

    &__search-box
        position: relative

    &__input-search,
    &__button-search
        border-radius: 200px !important

    &__input-search
        width: 100%
        height: 40px
        padding: 0 80px 0 13px

    &__button-search
        width: 78px
        height: 36px
        flex-shrink: 0
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        border: 1px solid $whiteColor
        background-color: $orangeColor
        color: $whiteColor

    &__text-btn-search
        color: $whiteColor
        text-align: center
        font-family: Mulish
        font-size: 16px
        font-style: normal
        font-weight: 700
        line-height: 24px

    &__menu
        list-style: none
        padding: 0
        flex-wrap: wrap
        display: flex

    &__menu-item
        color: $orangeColor
        font-family: Mulish
        font-size: 15px
        font-style: normal
        font-weight: 700
        line-height: 24px
        width: 50%
        // height: 25px

        &.--extend
            // height: 100%

    &__child-menu
        list-style: none
        height: 100%
        visibility: visible
        overflow: hidden

        &.--hide
            height: 0
            visibility: hidden

    &__child-menu-item
        color: $whiteColor
        font-family: Mulish
        font-size: 15px
        font-style: normal
        font-weight: 400
        line-height: 24px

    &__slogan
        margin: 0
        color: $whiteColor
        text-align: center
        font-family: "SF Pro Display"
        font-size: 12px
        font-style: normal
        font-weight: 400
        line-height: normal
        text-transform: uppercase
        padding: 9px 0 6px 0
        border-top: .8px solid $blueColor4
        border-bottom: .8px solid $blueColor4

    &__contact-box
        display: flex
        gap: 0 18px

    &__email-box,
    &__phone-box
        width: 50%
        display: flex
        gap: 0 6px
        justify-content: center

    &__emails,
    &__phones
        display: flex
        flex-flow: column

    &__email,
    &__phone
        color: $whiteColor
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 700
        line-height: normal

    &__copy-right
        color: $whiteColor
        text-align: center
        font-family: "SF Pro Display"
        font-size: 10px
        font-style: normal
        font-weight: 500
        line-height: 12px
        padding: 16px 0 4px 0
        width: 100%
        display: flex
        justify-content: center

    &__copy-right-text
        width: 280px
        margin: 0

    .logo
        padding: 13px 0
        display: flex
        flex-flow: column
        align-items: center

        &__character
            -webkit-text-stroke-width: 0.4618357717990875
            -webkit-text-stroke-color: #0B1D40
            font-size: 39.256px
            font-weight: 400
            line-height: 32.329px

.item-info,
.item-info-mb
    display: flex
    align-items: center

    ul
        margin: 0
        list-style: disc

    ul.time-hour
        padding: 0
        list-style: none

    &.time-hour
        display: flex
        justify-content: space-between

    &__created-at,
    &__created-at-hour
        color: $grayColor2
        font-family: Mulish
        font-size: 10px
        font-style: normal
        font-weight: 500
        line-height: 16px
        text-transform: uppercase

    &__category
        color: $redColor1
        font-family: Mulish
        font-size: 10px
        font-style: normal
        font-weight: 500
        line-height: 16px
        text-transform: uppercase

    &__time-comments
        gap: 0 13px
        display: flex

    &__created-hour
        color: $whiteColor
        text-align: right
        font-family: Mulish
        font-size: 11px
        font-style: normal
        font-weight: 600
        line-height: 28px

    &__comment
        color: $whiteColor
        font-family: Mulish
        font-size: 11px
        font-style: normal
        font-weight: 600
        line-height: 28px

.title-and-line
    position: relative
    margin-bottom: 20px

    &__line
        border: 2px solid $redColor1
        width: 100%
        height: 2px
        display: block

    &__title
        min-width: fit-content
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background: $whiteColor
        left: 50px
        padding: 0 8px
        color: $blackColor
        font-family: Mulish
        font-size: 24px
        font-style: normal
        font-weight: 800
        line-height: 28px
        @media (max-width: 992px)
            left: 0

            padding: 0 8px 0 0

.list-post
    color: $redColor

    span
        color: $textColor

    &.have-dot
        padding: 15px 12px 15px 25px !important

    .item
        display: flex
        gap: 5px 0
        @media (max-width: 992px)
            flex-flow: column

        &__content
            display: flex
            gap: 0 16px
            justify-content: space-between

        &__text-content
            display: flex
            flex-flow: column
            justify-content: space-between

        &__title
            color: $blackColor
            font-family: Mulish
            font-size: 17px
            font-style: normal
            font-weight: 700
            line-height: 24px

        &__image
            width: 161px
            height: 111px
            border-radius: 4px

.list-grid-post
    position: relative

    &__head
        height: 208px
        position: relative
        border-radius: 6px
        overflow: hidden
        @media (max-width: 992px)
            display: flex
            flex-flow: column
            height: auto

    .list-grid-head
        &__content-box
            height: 100%
            position: absolute
            z-index: 3
            width: 600px
            background: linear-gradient(90deg, $blueColor 63.76%, rgba(17, 20, 53, 0) 101.86%)
            @media (max-width: 992px)
                width: auto
                position: unset
                order: 2
                background: $blueColor

        &__content
            height: 100%
            width: 350px
            padding: 18px 28px
            display: flex
            flex-flow: column
            justify-content: space-between
            @media (max-width: 992px)
                width: auto
                padding: 20px
                gap: 20px 0

        &__title
            color: $whiteColor
            font-family: Mulish
            font-size: 22px
            font-style: normal
            font-weight: 800
            line-height: 28px

        &__image
            width: 449px
            height: 208px
            position: absolute
            flex-shrink: 0
            right: 0
            top: 0
            z-index: 1
            @media (max-width: 992px)
                object-fit: cover
                order: 1
                width: auto
                position: unset

    &__body
        padding-top: 18px
        // display: flex
        // flex-wrap: wrap
        // gap: 10px 26px

        display: grid
        gap: 10px 26px
        grid-template-columns: repeat(2, 1fr)
        @media (max-width: 992px)
            grid-template-columns: repeat(1, 1fr)

        .list-grid-body
            &__item
                // width: calc(50% - 13px)

                @media (max-width: 992px)
                    width: 100%

            &__item-content
                display: flex
                gap: 0 12px
                justify-content: space-between

            &__item-title
                @media (max-width: 992px)
                    order: 1

            &__item-image
                border-radius: 4px
                width: 157px
                height: 111px
                @media (max-width: 992px)
                    order: 2

.list-extend
    color: $textColor
    font-family: Mulish
    font-size: 16px
    font-style: normal
    font-weight: 600
    line-height: 20px
    color: $redColor1

    &__ul
        display: flex
        flex-flow: column

    &__li span
        color: $textColor

.list-scroll
    overflow-y: scroll
    &__ul
        padding: 0
        display: flex
        list-style: none
        gap: 0 10px

    &__li
        span
            width: max-content
            display: block

    .video-item
        width: 290px
        height: 294px
        border-radius: 6px 6px 0px 0px
        border: 1px solid $borderColor
        background: $whiteColor
        overflow: hidden
        display: flex
        flex-flow: column

        &__text-content
            padding: 12px
            display: flex
            flex-flow: column
            justify-content: space-between
            height: 100%

        &__image-preview
            width: 290px
            height: 169px

        &__title
            color: $textColor
            font-family: Mulish
            font-size: 16px
            font-style: normal
            font-weight: 800
            line-height: 20px

.tab-list
    &__list-tab
        display: flex
        justify-content: center

        &--ul
            width: 244px
            height: 40px
            list-style: none
            display: flex
            border-radius: 200px
            border: 1px solid $borderColor
            background: $whiteColor
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
            padding: 0
            align-items: center
            overflow: hidden
            justify-content: center

        &--li
            padding: 5px 10px
            width: 119px
            height: 34px
            text-align: center
            &.--active
                border-radius: 200px
                background-color: $redColor1
                color: $whiteColor

    &__tab
        &--item-content
            &.--hide
                display: none

    &__list
        list-style: none
        padding: 0

        &--item
            display: flex
            gap: 0 9px
            padding: 8px 0 0 0

        &--index
            color: $redColor
            font-family: Mulish
            font-size: 26px
            font-style: normal
            font-weight: 800
            line-height: 36px

        &--title
            color: $textColor
            font-family: Mulish
            font-size: 14px
            font-style: normal
            font-weight: 700
            line-height: 20px

.post-and-list-extend
    padding: 15px 16px 26px 15px
    border: 0.8px solid $borderColor
    background: $whiteColor

    .break-line
        margin: 15px 0 21px 0

    .list-extend
        height: 110px
        overflow-y: scroll

    .post
        display: flex
        flex-flow: column
        gap: 13px 0

        &__image
            width: 283px
            height: 208px
            object-fit: cover

        &__title-box
            display: flex
            flex-flow: column
            gap: 18px 0

        &__title
            color: $blackColor
            font-family: Mulish
            font-size: 18px
            font-style: normal
            font-weight: 800
            line-height: 24px

    .list-extend__ul
        color: $grayColor2
        padding-left: 15px
        gap: 12px 0
        margin: 0

    .list-extend__li
        span
            color: $textColor

.results-schedule
    &__head
        display: flex
        gap: 0 8px
        color: $blackColor
        font-family: Mulish
        font-size: 16px
        font-style: normal
        font-weight: 700
        line-height: 20px

    &__body

        .break-dashed-line
            margin: 4px 0 8px 0

        .date
            min-width: 25px
            color: $grayColor2
            font-family: Mulish
            font-size: 11px
            font-style: normal
            font-weight: 600
            line-height: 20px
            text-transform: uppercase

        .time
            color: $redColor1
            text-align: center
            font-family: Mulish
            font-size: 11px
            font-style: normal
            font-weight: 700
            line-height: 20px
            text-transform: uppercase

        .schedule
            width: 100%
            display: flex
            justify-content: center
            gap: 0 5px

        &--ul
            padding: 0 7px

        &--li
            color: $blackColor
            font-family: Mulish
            font-size: 11px
            font-style: normal
            font-weight: 700
            line-height: 20px
            text-transform: uppercase
            list-style-type: none

        &--li:first-child
            list-style-type: disc
            color: $redColor1
            font-family: Mulish
            font-size: 16px
            font-style: normal
            font-weight: 600
            margin: 13px 0 12px 0
            margin-left: .5rem

    &__content
        display: flex

.homepage
    // ---- START BLOCK 1
    .block-1
        margin-top: 16px
        display: grid
        grid-template-columns: repeat(2,1fr)

        @media (max-width: 992px)
            margin-top: 0
            grid-template-columns: repeat(1,1fr)
            margin-right: calc(-.5* 1.5rem)
            margin-left: calc(-.5* 1.5rem)

        .break-line
            margin-bottom: 10px

        .list-post
            padding: 15px 12px 15px 15px

        &.box-border
            @media (max-width: 992px)
                border: unset

        .left-content
            padding: 15px 15px 8px 15px
            flex-shrink: 0
            border-right: 0.5px solid $borderColor
            @media (max-width: 992px)
                padding: 0
                border: unset

            &__main-post
                border-radius: 6px
                background: linear-gradient(0deg, $blueColor 0%, $blueColor 100%), url(<path-to-image>) lightgray 50% / cover no-repeat
                @media (max-width: 992px)
                    background: unset

            &__list-post
                color: $textColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 600
                line-height: 20px
                padding: 16px 15px

                & ul
                    padding: 0
                    margin: 0

            .main-post
                &__content
                    padding: 15px 15px 30px 15px
                    width: auto
                    height: 173px
                    flex-shrink: 0
                    @media (max-width: 992px)
                        width: 100%
                        height: auto
                        display: flex
                        flex-flow: column
                        padding: 16px 12px 0 12px

                &__image
                    width: 100%
                    height: 332px
                    border-radius: 6px 6px 0px 0px

                    @media (max-width: 992px)
                        border-radius: unset
                        height: 212px
                        object-fit: cover

                &__info
                    display: flex
                    justify-content: space-between
                    align-items: center

                    @media (max-width: 992px)
                        order: 3
                        border-bottom: 0.8px solid gray
                        padding: 14px 0 16px 0
                        justify-content: flex-start

                &__time-comment
                    display: flex
                    gap: 0 6px
                    @media (max-width: 992px)
                        order: 1

                &__description
                    color: $blackColor
                    font-family: Mulish
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: 22px
                    @media (max-width: 992px)
                        order: 2

                &__category
                    color: $redColor
                    font-family: Mulish
                    font-size: 10px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px
                    text-transform: uppercase
                    @media (max-width: 992px)
                        order: 2
                        color: $redColor1
                        font-family: Mulish
                        font-size: 10px
                        font-style: normal
                        font-weight: 500
                        line-height: 16px
                        text-transform: uppercase

                &__created-at,
                &__created-at-hour
                    color: $whiteColor
                    text-align: right
                    font-family: Mulish
                    font-size: 10px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px

                    @media (max-width: 992px)
                        color: $grayColor2
                        font-family: Mulish
                        font-size: 10px
                        font-style: normal
                        font-weight: 500
                        line-height: 16px
                        text-transform: uppercase

                &__title
                    color: $whiteColor
                    font-family: Mulish
                    font-size: 26px
                    font-style: normal
                    font-weight: 800
                    line-height: 36px
                    margin: 0
                    width: 459px
                    height: 107px
                    flex-shrink: 0

                    @media (max-width: 992px)
                        color: $blackColor1
                        width: 100%
                        order: 1
                        height: auto

                &__comment
                    color: $whiteColor
                    font-family: Mulish
                    font-size: 11px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px

            &__li
                margin-bottom: 12px

            &__li:last-child
                margin-bottom: 0px

        .right-content
            padding: 15px
            @media (max-width: 992px)
                padding: 15px 12px

            &__item
                display: flex
                flex-flow: column
                border-bottom: 0.8px solid $borderColor
                padding-bottom: 15px
                margin-bottom: 15px

                @media (max-width: 992px)
                    padding-bottom: 12px
                    margin-bottom: 12px

            &__item:last-child
                border-bottom: unset
                padding-bottom: 0
                margin-bottom: 0

            &__item-content
                display: flex
                flex-flow: row
                gap: 0 32px
                @media (max-width: 992px)
                    gap: 0 12px
                    justify-content: space-between

            &__title-box
                display: flex
                flex-flow: column
                justify-content: space-between

            &__title
                color: $blackColor
                font-family: Mulish
                font-size: 17px
                font-style: normal
                font-weight: 700
                line-height: 24px

            &__info
                align-items: flex-end
                margin-top: 5px

            & ul
                margin: 0

            &__image
                width: 161px
                height: 111px
                flex-shrink: 0
                border-radius: 4px
                object-fit: cover
                @media (max-width: 992px)
                    width: 134px
                    height: 93px
                    flex-shrink: 0
    // ---- END BLOCK 1

    // ---- START BLOCK 2
    .block-2
        display: flex
        gap: 0 16px
        padding: 23px 0 48px 0

        @media (max-width: 992px)
            flex-flow: column
            padding: 8px 0 12px 0

        .break-line
            margin: 14px 0

        .main-content
            width: calc(100% - 300px)
            @media (max-width: 992px)
                order: 2
                width: 100%

        .item
            &__text-content
                order: 2
                @media (max-width: 992px)
                    order: 1

            &__image
                order: 1
                @media (max-width: 992px)
                    order: 2

        .ads
            width: 316px
            height: 616px
            padding: 8px
            border: 0.8px solid $borderColor
            background: $whiteColor

            @media (max-width: 992px)
                order: 1
                width: 100%
                height: 600px

                display: flex
                justify-content: center
                margin-bottom: 24px
                border: unset
                padding: 0

            &__content
                width: 300px
                height: 600px
                background: $grayColor3
    // ---- END BLOCK 2

    .block-video-mb
        margin: 20px 0 28px 0
        .list-scroll__ul
            gap: 0 16px

    // ---- START BLOCK 3
    .block-3
        .tags-box
            display: flex
            margin-top: 10px
            gap: 0 10px

        .tags
            overflow: scroll
            &__ul
                padding: 0
                list-style: none
                display: flex
                gap: 0 15px
                overflow: hidden
                width: max-content
                align-items: center

            &__li
                width: max-content

                &.--active
                    border-radius: 200px
                    border: 1px solid $borderColor
                    background: $whiteColor
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
                    padding: 2px 6px
                    color: $redColor1

        &__main-content
            gap: 16px
            display: grid
            grid-template-columns: repeat(3, 1fr)
            @media (max-width: 992px)
                gap: 12px 0
                display: flex
                padding-top: 10px
                flex-flow: column

            .left-content
                grid-column: 1 / 3
                border: 0.8px solid $borderColor
                background: $whiteColor
                padding: 15px
                @media (max-width: 992px)
                    grid-column: unset
                    border: unset
                    padding: 0

            .right-content
                position: relative
                overflow: hidden
                padding: 15px 16px 15px 11px
                border: 1px solid $borderColor
                background: $whiteColor
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
                @media (max-width: 992px)
                    border: unset
                    box-shadow: unset
                    padding: 0 0 0 15px

                &__list
                    padding: 0
                    display: flex
                    flex-flow: column
                    gap: 12px 0
                    color: $redColor1

                &__list-item
                    span
                        color: $textColor

                &__block-hide
                    position: absolute
                    height: 70px
                    width: 100%
                    bottom: 0
                    background: linear-gradient(0deg, #fff 63.76%, rgba(17, 20, 53, 0) 120%)

                &__tab
                    display: flex
                    justify-content: center

                    .tab
                        width: 244px
                        height: 40px
                        list-style: none
                        display: flex
                        border-radius: 200px
                        border: 1px solid $borderColor
                        background: $whiteColor
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10)
                        padding: 0
                        align-items: center
                        overflow: hidden
                        justify-content: center

                        &__item
                            padding: 5px 10px
                            width: 119px
                            height: 34px
                            flex-shrink: 0
                            &.--active
                                border-radius: 200px
                                background-color: $redColor1

                &__tab-item-content
                    &.--hide
                        display: none

                .tab-list
                    list-style: none
                    padding: 0

                    &__item
                        display: flex
                        gap: 0 9px
                        padding: 8px 0 0 0

                    &__index
                        color: $redColor
                        font-family: Mulish
                        font-size: 26px
                        font-style: normal
                        font-weight: 800
                        line-height: 36px

                    &__title
                        color: $textColor
                        font-family: Mulish
                        font-size: 14px
                        font-style: normal
                        font-weight: 700
                        line-height: 20px
    // ---- END BLOCK 3

    // ---- START BLOCK 4
    .block-4
        margin-top: 54px
        @media (max-width: 992px)
            margin-top: 30px

        .break-line.block
            margin: 15px 0

        &__main-content
            margin-top: 32px
            display: flex
            gap: 0 16px
            @media (max-width: 992px)
                flex-flow: column
                margin-top: 22px

        &__left-content
            width: calc(100% - 314px)
            padding: 15px
            border: 0.8px solid $borderColor

            @media (max-width: 992px)
                width: 100%
                border: unset
                padding: 15px 0

            .list-extend__ul
                gap: 12px 0
                padding-left: 12px

        &__right-content
            width: 314px
            display: flex
            flex-flow: column
            gap: 12px 0

            @media (max-width: 992px)
                width: 100%

        .ads
            width: 314px
            height: 262px
            padding: 6px 7px
            border: 0.8px solid $borderColor
            background: $whiteColor
            @media (max-width: 992px)
                width: 100%
                border: unset
                display: flex
                justify-content: center

            &__content
                width: 300px
                height: 250px
                background-color: $grayColor3

        .list-best-of-day
            border: 1px solid $yellowColor2
            background: $yellowColor1
            padding: 18px 12px

            &__head
                display: flex
                align-items: center
                gap: 0 8px

            &__title-image
                width: 29px
                height: 29px

            &__title
                margin: 0
                color: $blackColor
                font-family: Mulish
                font-size: 20px
                font-style: normal
                font-weight: 700
                line-height: 24px

            &__body
                margin-top: 8px

                .break-line
                    border: .5px dashed $yellowColor2
                    margin: 16px 0 8px 0

                .list-extend ul
                    color: $yellowColor2
                    list-style: circle

                .carousel-indicators
                    bottom: -20px

                .carousel-indicators .active
                    background-color: $yellowColor2

                .carousel-indicators li
                    width: 10px
                    height: 10px
                    border-radius: 50%
                    background-color: $yellowColor3
    // ---- END BLOCK 4

    // ---- START BLOCK 5
    .block-5
        margin-top: 49px

        .title-and-line__line
            width: 60px

        &__bottom-head
            border: 0.8px solid $borderColor
            background: $grayColor6
            padding: 22px 16px

            &--icon
                color: $redColor
                font-family: Mulish
                font-size: 24px
                font-style: normal
                font-weight: 800
                line-height: 20px

            &--title
                color: $blackColor
                font-family: Mulish
                font-size: 24px
                font-style: normal
                font-weight: 800
                line-height: 20px

            &--ul
                padding-left: 12px
                list-style: none
                display: grid
                grid-template-columns: repeat(3, 1fr)
                margin: 20px 0 0 0
                gap: 0 28px

                @media (max-width: 992px)
                    grid-template-columns: repeat(1, 1fr)

                .break-dashed-line
                    margin: 6px 0 8px 0

            &--li
                color: $blackColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 20px

                &.--active
                    color: $redColor1

            .item
                display: flex
                flex-flow: column
                gap: 4px 0

                &__time
                    color: $grayColor1
                    font-family: Mulish
                    font-size: 11px
                    font-style: normal
                    font-weight: 600
                    line-height: 16px
                    text-transform: uppercase
                    display: flex

                    ul
                        list-style: disc

        &__body
            margin-top: 40px
            display: flex
            gap: 0 15px

            .break-line
                margin: 14px 0

            &--left-content
                width: calc(100% - 329px)

                .list-post
                    .item__text-content
                        order: 2
                    .item__image
                        order: 1

            &--right-content
                width: 314px
                background: $whiteColor

                .table-ranking
                    width: 314px
                    height: 604px
                    overflow-y: scroll
                    padding: 19px 16px 0 13px
                    border: 0.8px solid $borderColor

                    &__table
                        margin-top: 19px

                    th
                        color: $grayColor7
                        font-family: Mulish
                        font-size: 11px
                        font-style: normal
                        font-weight: 400
                        line-height: 26px
                        text-transform: uppercase

                    thead
                        th
                            border: unset
                            background: #F5F5F6
                            padding-top: 0
                            padding-bottom: 0

                    tbody
                        tr:first-child
                            th,
                            td
                                border-top: unset

                        tr:last-child
                            th,
                            tr
                                border-bottom: unset

                    &__title
                        display: flex
                        gap: 0 8px
                        align-items: center

                    .table
                        margin: 0
                        .big-col
                            width: 120px

                        .small-cal
                            width: 40px

                .comments
                    padding: 15px 11px
                    margin-top: 32px
                    width: 314px
                    height: 467px
                    border: 0.8px solid $borderColor
                    background: $whiteColor

                    .break-line
                        margin: 16px 0 0 0
    // ---- END BLOCK 5

    // ---- START BLOCK 6
    .block-6
        margin-top: 42px

        .list-scroll
            &__ul
                display: flex
                gap: 0 30px
                color: $redColor
                padding-left: 15px
                list-style-type: disc

            &__li
                span
                    color: $textColor

        &__body
            display: flex
            gap: 0 15px
            @media (max-width: 992px)
                flex-flow: column

            .list-grid-post__body
                @media (max-width: 992px)
                    gap: 12px 26px

            .break-line
                @media (max-width: 992px)
                    margin-top: 12px

            &--left
                padding: 15px
                border: 0.8px solid $borderColor
                background: $whiteColor
                width: calc(100% - 329px)

                @media (max-width: 992px)
                    width: 100%
                    padding: 0
                    border: unset

            &--right
                width: 314px
                height: 508px
                padding: 19px 18px 0 18px
                border: 0.8px solid $borderColor
                overflow-y: scroll

    // ---- END BLOCK 6

    // ---- START BLOCK 7
    .block-7
        margin-top: 59px
        display: flex
        gap: 0 15px

        @media (max-width: 992px)
            flex-flow: column

        &__left
            width: calc(100% - 329px)
            @media (max-width: 992px)
                width: 100%

            &--body-top
                padding: 15px 15px 19px 15px
                border: 0.8px solid $borderColor
                background: $whiteColor
                @media (max-width: 992px)
                    padding: 0
                    border: unset

            &--body-bottom
                margin-block: 24px

            .break-line
                margin: 14px 0
                @media (max-width: 992px)
                    margin: 12px 0

            .list-post
                .item__text-content
                    order: 2
                .item__image
                    order: 1

        &__right
            width: 314px
            @media (max-width: 992px)
                width: 100%
                margin-top: 54px

            .title-and-line__title
                left: 0

            .post-and-list-extend
                .post__image
                    @media (max-width: 992px)
                        width: 100%
                        height: 208px

                .list-extend
                    @media (max-width: 992px)
                        height: auto

                .list-extend__ul
                    @media (max-width: 992px)
                        color: $redColor1

                .list-extend__li span
                    @media (max-width: 992px)
                        color: $textColor

            &--body-top,
            &--body-bottom
                width: 100%
                height: 508px
                @media (max-width: 992px)
                    height: auto
                    border: unset
                    padding: 0

            &--body-middle
                width: 100%
                height: 560px
                @media (max-width: 992px)
                    height: auto

        .focus-football
            margin-top: 29px
            border: 0.8px solid $borderColor
            background: $whiteColor
            padding: 22px 16px 18px
            display: flex
            flex-flow: column
            gap: 16px 0

            &__title-box
                display: flex
                justify-content: space-between
                align-items: center

            &__list-extend
                overflow-y: scroll
                height: 482px
                @media (max-width: 992px)
                    height: auto

            .list-extend__ul
                padding-left: 15px
                gap: 12px 0
                margin: 0

            &__title
                color: $redColor1
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 20px
                text-transform: uppercase

            &__see-more
                color: $grayColor1
                text-align: right
                font-family: Mulish
                font-size: 12px
                font-style: normal
                font-weight: 500
                line-height: 20px

        .comments
            margin-top: 24px
            border: 0.8px solid $borderColor
            background: $whiteColor
            padding: 16px 16px 25px
            display: flex
            flex-flow: column
            gap: 16px 0

            &__body
                height: 430px
                overflow-y: scroll
                @media (max-width: 992px)
                    height: auto

            .list-post
                display: flex
                flex-flow: column
                gap: 11px 0

                .item__image
                    width: 120px
                    height: 67px

                .item__title
                    color: $textColor
                    font-family: Mulish
                    font-size: 14px
                    font-style: normal
                    font-weight: 700
                    line-height: 20px

            &__title-box
                display: flex
                gap: 0 9px

            &__title
                color: $blackColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 20px

    .results-schedule-mb
        margin-top: 32px
        background: $whiteColor
        display: flex
        justify-content: center
        position: relative

        .results-schedule
            padding: 19px 18px 18px
            width: 314px
            height: 508px
            border: 0.8px solid $borderColor

            &__body--ul
                margin: 0

            .results-schedule__body
                overflow-y: scroll
                height: 450px

            .block-hide
                position: absolute
                height: 27px
                width: 299px
                bottom: 0
                left: 50%
                background: linear-gradient(0deg, #fff 63.76%, rgba(17, 20, 53, 0) 120%)
                transform: translateX(-50%)
    // ---- END BLOCK 7
