.box-border {
  border: 0.8px solid #DBDCDF;
}

.vertical-division {
  border: 0.5px solid #DADADA;
}

.break-line {
  width: 100%;
  border: 0.5px solid #DADADA;
  display: block;
  margin-top: 10px;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.logo {
  text-transform: uppercase;
}
.logo__box {
  display: flex;
  align-items: flex-end;
}
.logo__text {
  color: #FFF;
  font-family: Mulish;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-transform: math-auto;
}
.logo__icon {
  width: 1336px;
  height: 70px;
  flex-shrink: 0;
}
.logo__e {
  color: #F2994A;
  -webkit-text-stroke-width: 0.400000006;
  -webkit-text-stroke-color: #0B1D40;
  font-family: "Nico Moji";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.logo__s {
  color: #FC151D;
  font-family: "Nico Moji";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.logo__p {
  color: #27AE60;
  font-family: "Nico Moji";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.logo__o {
  color: #56CCF2;
  font-family: "Nico Moji";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.logo__r {
  color: #BB6BD9;
  font-family: "Nico Moji";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.logo__t {
  color: #FFF;
  font-family: "Nico Moji";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header {
  background-color: #0B1D40;
  display: flex;
  gap: 0 12px;
  padding: 10px 75px;
}
@media (max-width: 992px) {
  .header {
    justify-content: center;
    padding: 10px 20px;
  }
}
.header .menu {
  margin: 0;
  padding: 0;
  /* width: 888px */
  /* display: flex */
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  width: 100%;
  justify-content: space-between;
}
.header .menu__item {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.top-bar-pc {
  padding: 0 75px;
  background: #010B1E;
  justify-content: space-between;
}
.top-bar-pc__ul {
  color: #FFF;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.top-bar-pc__li {
  border-right: 1px solid #89888B;
  padding-right: 15px;
  margin: 5px 15px 5px 0;
}
.top-bar-pc__li:last-child {
  border-right: unset;
  padding-right: 0;
  margin: 5px 0;
}
.top-bar-pc__widget {
  display: flex;
  gap: 0 20px;
}
.top-bar-pc__date {
  color: #FFF;
  text-align: right;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.top-bar-pc__login-register {
  color: #FFF;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.top-bar-mobile .vertical-division {
  height: 16px;
}
.top-bar-mobile__menu {
  padding: 8px 12px;
  display: flex;
  border-bottom: 1px solid rgba(133, 133, 133, 0.5411764706);
}
.top-bar-mobile__widget {
  display: flex;
  align-items: center;
  padding: 5px 12px;
}
.top-bar-mobile__ul {
  margin: 0;
  display: flex;
  list-style: none;
  color: #3A393E;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 100%;
  justify-content: space-between;
  padding-left: 12px;
  align-items: center;
}

.menu-mobile {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: #FFF;
  overflow: scroll;
  background-color: #0B1D40;
  transition: left 0.5s;
}
.menu-mobile.--hide {
  left: -100%;
}
.menu-mobile__icon-arrow {
  rotate: 0deg;
  transition: rotate 0.5s;
}
.menu-mobile__icon-arrow.--down {
  rotate: 180deg;
}
.menu-mobile__close-box {
  height: 68px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.menu-mobile__colors-line {
  display: flex;
}
.menu-mobile__colors-line .line-1 {
  width: 25%;
  border: 1px solid #F2994A;
}
.menu-mobile__colors-line .line-2 {
  width: 25%;
  border: 1px solid #FC151D;
}
.menu-mobile__colors-line .line-3 {
  width: 25%;
  border: 1px solid #27AE60;
}
.menu-mobile__colors-line .line-4 {
  width: 25%;
  border: 1px solid #56CCF2;
}
.menu-mobile__content {
  padding: 20px 12px;
}
.menu-mobile__search-box {
  position: relative;
}
.menu-mobile__input-search, .menu-mobile__button-search {
  border-radius: 200px !important;
}
.menu-mobile__input-search {
  width: 100%;
  height: 40px;
  padding: 0 80px 0 13px;
}
.menu-mobile__button-search {
  width: 78px;
  height: 36px;
  flex-shrink: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #FFF;
  background-color: #F2994A;
  color: #FFF;
}
.menu-mobile__text-btn-search {
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.menu-mobile__menu {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}
.menu-mobile__menu-item {
  color: #F2994A;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 50%;
}
.menu-mobile__child-menu {
  list-style: none;
  height: 100%;
  visibility: visible;
  overflow: hidden;
}
.menu-mobile__child-menu.--hide {
  height: 0;
  visibility: hidden;
}
.menu-mobile__child-menu-item {
  color: #FFF;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.menu-mobile__slogan {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 9px 0 6px 0;
  border-top: 0.8px solid #3D5D9A;
  border-bottom: 0.8px solid #3D5D9A;
}
.menu-mobile__contact-box {
  display: flex;
  gap: 0 18px;
}
.menu-mobile__email-box, .menu-mobile__phone-box {
  width: 50%;
  display: flex;
  gap: 0 6px;
  justify-content: center;
}
.menu-mobile__emails, .menu-mobile__phones {
  display: flex;
  flex-flow: column;
}
.menu-mobile__email, .menu-mobile__phone {
  color: #FFF;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu-mobile__copy-right {
  color: #FFF;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 16px 0 4px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-mobile__copy-right-text {
  width: 280px;
  margin: 0;
}
.menu-mobile .logo {
  padding: 13px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.menu-mobile .logo__character {
  -webkit-text-stroke-width: 0.4618357718;
  -webkit-text-stroke-color: #0B1D40;
  font-size: 39.256px;
  font-weight: 400;
  line-height: 32.329px;
}

.item-info,
.item-info-mb {
  display: flex;
  align-items: center;
}
.item-info ul,
.item-info-mb ul {
  margin: 0;
}
.item-info ul.time-hour,
.item-info-mb ul.time-hour {
  padding: 0;
  list-style: none;
}
.item-info.time-hour,
.item-info-mb.time-hour {
  display: flex;
  justify-content: space-between;
}
.item-info__created-at, .item-info__created-at-hour,
.item-info-mb__created-at,
.item-info-mb__created-at-hour {
  color: #89888B;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}
.item-info__category,
.item-info-mb__category {
  color: #F00;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}
.item-info__time-comments,
.item-info-mb__time-comments {
  gap: 0 13px;
  display: flex;
}
.item-info__created-hour,
.item-info-mb__created-hour {
  color: #FFF;
  text-align: right;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.item-info__comment,
.item-info-mb__comment {
  color: #FFF;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.title-and-line {
  position: relative;
  margin-bottom: 20px;
}
.title-and-line__line {
  border: 2px solid #F00;
  width: 100%;
  height: 2px;
  display: block;
}
.title-and-line__title {
  min-width: 140px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FFF;
  left: 50px;
  padding: 0 8px;
  color: #000;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
}
@media (max-width: 992px) {
  .title-and-line__title {
    left: 0;
    padding: 0 8px 0 0;
  }
}

.list-post {
  color: #FC151D;
}
.list-post span {
  color: #3A3A3A;
}
.list-post.have-dot {
  padding: 15px 12px 15px 25px !important;
}
.list-post .item {
  display: flex;
  gap: 5px 0;
}
@media (max-width: 992px) {
  .list-post .item {
    flex-flow: column;
  }
}
.list-post .item__content {
  display: flex;
  gap: 0 16px;
  justify-content: space-between;
}
.list-post .item__text-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.list-post .item__title {
  color: #000;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.list-post .item__image {
  width: 161px;
  height: 111px;
  border-radius: 4px;
}

.list-grid-post {
  position: relative;
}
.list-grid-post__header {
  height: 208px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .list-grid-post__header {
    display: flex;
    flex-flow: column;
    height: auto;
  }
}
.list-grid-post .list-grid-header__content-box {
  height: 100%;
  position: absolute;
  z-index: 3;
  width: 600px;
  background: linear-gradient(90deg, #111435 63.76%, rgba(17, 20, 53, 0) 101.86%);
}
@media (max-width: 992px) {
  .list-grid-post .list-grid-header__content-box {
    width: auto;
    position: unset;
    order: 2;
    background: #111435;
  }
}
.list-grid-post .list-grid-header__content {
  height: 100%;
  width: 350px;
  padding: 18px 28px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .list-grid-post .list-grid-header__content {
    width: auto;
    padding: 20px;
    gap: 20px 0;
  }
}
.list-grid-post .list-grid-header__title {
  color: #FFF;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
}
.list-grid-post .list-grid-header__image {
  width: 449px;
  height: 208px;
  position: absolute;
  flex-shrink: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 992px) {
  .list-grid-post .list-grid-header__image {
    -o-object-fit: cover;
       object-fit: cover;
    order: 1;
    width: auto;
    position: unset;
  }
}
.list-grid-post__body {
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 26px;
}
.list-grid-post__body .list-grid-body__item {
  width: calc(50% - 13px);
}
@media (max-width: 992px) {
  .list-grid-post__body .list-grid-body__item {
    width: 100%;
  }
}
.list-grid-post__body .list-grid-body__item-content {
  display: flex;
  gap: 0 12px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .list-grid-post__body .list-grid-body__item-title {
    order: 1;
  }
}
.list-grid-post__body .list-grid-body__item-image {
  border-radius: 4px;
  width: 157px;
  height: 111px;
}
@media (max-width: 992px) {
  .list-grid-post__body .list-grid-body__item-image {
    order: 2;
  }
}

.homepage .block-1 .break-line {
  margin-bottom: 10px;
}
.homepage .block-1 .list-post {
  padding: 15px 12px 15px 15px;
}
@media (max-width: 992px) {
  .homepage .block-1.box-border {
    border: unset;
  }
}
.homepage .block-1 .left-content {
  padding: 15px 15px 8px 15px;
  flex-shrink: 0;
  border-right: 0.5px solid #DBDCDF;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content {
    padding: 0;
  }
}
.homepage .block-1 .left-content__main-post {
  border-radius: 6px;
  background: linear-gradient(0deg, #111435 0%, #111435 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content__main-post {
    background: unset;
  }
}
.homepage .block-1 .left-content__list-post {
  color: #3A3A3A;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 16px 15px;
}
.homepage .block-1 .left-content__list-post ul {
  padding: 0;
  margin: 0;
}
.homepage .block-1 .left-content .main-post__content {
  padding: 15px 15px 30px 15px;
  width: auto;
  height: 173px;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 16px 12px 0 12px;
  }
}
.homepage .block-1 .left-content .main-post__image {
  width: 100%;
  height: 332px;
  border-radius: 6px 6px 0px 0px;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__image {
    border-radius: unset;
    height: 212px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.homepage .block-1 .left-content .main-post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__info {
    order: 3;
    border-bottom: 0.8px solid gray;
    padding: 14px 0 16px 0;
    justify-content: flex-start;
  }
}
.homepage .block-1 .left-content .main-post__time-comment {
  display: flex;
  gap: 0 6px;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__time-comment {
    order: 1;
  }
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__description {
    order: 2;
  }
}
.homepage .block-1 .left-content .main-post__category {
  color: #FC151D;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__category {
    order: 2;
    color: #F00;
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
  }
}
.homepage .block-1 .left-content .main-post__created-at, .homepage .block-1 .left-content .main-post__created-at-hour {
  color: #FFF;
  text-align: right;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__created-at, .homepage .block-1 .left-content .main-post__created-at-hour {
    color: #89888B;
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
  }
}
.homepage .block-1 .left-content .main-post__title {
  color: #FFF;
  font-family: Mulish;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  margin: 0;
  width: 459px;
  height: 107px;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .homepage .block-1 .left-content .main-post__title {
    color: #000;
    width: 100%;
    order: 1;
  }
}
.homepage .block-1 .left-content .main-post__comment {
  color: #FFF;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.homepage .block-1 .left-content__li {
  margin-bottom: 12px;
}
.homepage .block-1 .left-content__li:last-child {
  margin-bottom: 0px;
}
.homepage .block-1 .right-content {
  padding: 15px;
}
@media (max-width: 992px) {
  .homepage .block-1 .right-content {
    padding: 15px 12px;
  }
}
.homepage .block-1 .right-content__item {
  display: flex;
  flex-flow: column;
  border-bottom: 0.8px solid #DBDCDF;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .homepage .block-1 .right-content__item {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}
.homepage .block-1 .right-content__item:last-child {
  border-bottom: unset;
  padding-bottom: 0;
  margin-bottom: 0;
}
.homepage .block-1 .right-content__item-content {
  display: flex;
  flex-flow: row;
  gap: 0 32px;
}
@media (max-width: 992px) {
  .homepage .block-1 .right-content__item-content {
    gap: 0 12px;
    justify-content: space-between;
  }
}
.homepage .block-1 .right-content__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.homepage .block-1 .right-content__title {
  color: #000;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.homepage .block-1 .right-content__info {
  align-items: flex-end;
  margin-top: 5px;
}
.homepage .block-1 .right-content ul {
  margin: 0;
}
.homepage .block-1 .right-content__image {
  width: 161px;
  height: 111px;
  flex-shrink: 0;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .homepage .block-1 .right-content__image {
    width: 134px;
    height: 93px;
    flex-shrink: 0;
  }
}
.homepage .block-2 {
  display: flex;
  gap: 0 16px;
  padding: 23px 12px 48px 12px;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
@media (max-width: 992px) {
  .homepage .block-2 {
    flex-flow: column;
    padding: 8px 12px 12px 12px;
  }
}
.homepage .block-2 .break-line {
  margin: 14px 0;
}
.homepage .block-2 .main-content {
  width: calc(100% - 300px);
}
@media (max-width: 992px) {
  .homepage .block-2 .main-content {
    order: 2;
    width: 100%;
  }
}
.homepage .block-2 .item__text-content {
  order: 2;
}
@media (max-width: 992px) {
  .homepage .block-2 .item__text-content {
    order: 1;
  }
}
.homepage .block-2 .item__image {
  order: 1;
}
@media (max-width: 992px) {
  .homepage .block-2 .item__image {
    order: 2;
  }
}
.homepage .block-2 .ads {
  width: 316px;
  height: 616px;
  padding: 8px;
  border: 0.8px solid #DBDCDF;
  background: #FFF;
}
@media (max-width: 992px) {
  .homepage .block-2 .ads {
    order: 1;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    border: unset;
    padding: 0;
  }
}
.homepage .block-2 .ads__content {
  width: 300px;
  height: 600px;
  background: #EDEDED;
}
.homepage .block-3 .tags-box {
  display: flex;
  margin-top: 10px;
  gap: 0 10px;
}
.homepage .block-3 .tags {
  overflow: scroll;
}
.homepage .block-3 .tags__ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0 15px;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
.homepage .block-3 .tags__li {
  width: -moz-max-content;
  width: max-content;
}
.homepage .block-3 .tags__li.--active {
  border-radius: 200px;
  border: 1px solid #DBDCDF;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 2px 6px;
  color: #F00;
}
.homepage .block-3__main-content {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
  .homepage .block-3__main-content {
    grid-template-columns: auto;
    gap: 12px 0;
    padding-top: 10px;
  }
}
.homepage .block-3__main-content .left-content {
  grid-column: 1/3;
  border: 0.8px solid #DBDCDF;
  background: #FFF;
  padding: 15px;
}
@media (max-width: 992px) {
  .homepage .block-3__main-content .left-content {
    grid-column: unset;
    border: unset;
    padding: 0;
  }
}
.homepage .block-3__main-content .right-content {
  position: relative;
  overflow: hidden;
  padding: 15px 16px 15px 11px;
  border: 1px solid #DBDCDF;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 992px) {
  .homepage .block-3__main-content .right-content {
    border: unset;
    box-shadow: unset;
    padding: 0 15px;
  }
}
.homepage .block-3__main-content .right-content__list {
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 12px 0;
  color: #F00;
}
.homepage .block-3__main-content .right-content__list-item span {
  color: #3A3A3A;
}
.homepage .block-3__main-content .right-content__block-hide {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, #fff 63.76%, rgba(17, 20, 53, 0) 120%);
}
.homepage .block-3__main-content .right-content__tab {
  display: flex;
  justify-content: center;
}
.homepage .block-3__main-content .right-content__tab .tab {
  width: 244px;
  height: 40px;
  list-style: none;
  display: flex;
  border-radius: 200px;
  border: 1px solid #DBDCDF;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 0;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.homepage .block-3__main-content .right-content__tab .tab__item {
  padding: 5px 10px;
  width: 119px;
  height: 34px;
  flex-shrink: 0;
}
.homepage .block-3__main-content .right-content__tab .tab__item.--active {
  border-radius: 200px;
  background-color: #F00;
}
.homepage .block-3__main-content .right-content__tab-item-content.--hide {
  display: none;
}
.homepage .block-3__main-content .right-content .tab-list {
  list-style: none;
  padding: 0;
}
.homepage .block-3__main-content .right-content .tab-list__item {
  display: flex;
  gap: 0 9px;
  padding: 8px 0 0 0;
}
.homepage .block-3__main-content .right-content .tab-list__index {
  color: #FC151D;
  font-family: Mulish;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
}
.homepage .block-3__main-content .right-content .tab-list__title {
  color: #3A3A3A;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}/*# sourceMappingURL=index.css.map */