@import "variables/colors"
@import 'utils/border'

body
    margin: 0

p
    margin: 0

.logo
    text-transform: uppercase

    &__box
        display: flex
        align-items: flex-end

    &__text
        color: $whiteColor
        font-family: Mulish
        font-size: 8px
        font-style: normal
        font-weight: 500
        line-height: 12px /* 150% */
        text-transform: math-auto

    &__icon
        width: 1336px
        height: 70px
        flex-shrink: 0

    &__e
        color: $orangeColor
        -webkit-text-stroke-width: 0.4000000059604645
        -webkit-text-stroke-color: $blueColor2
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px /* 82.353% */

    &__s
        color: $redColor
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__p
        color: $greenColor2
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__o
        color: $blueColor3
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__r
        color: $purpleColor2
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

    &__t
        color: $whiteColor
        font-family: "Nico Moji"
        font-size: 34px
        font-style: normal
        font-weight: 400
        line-height: 28px

.header
    background-color: $blueColor2
    display: flex
    gap: 0 12px
    padding: 10px 75px

    @media (max-width: 992px)
        justify-content: center
        padding: 10px 20px

    .menu
        margin: 0
        padding: 0
        /* width: 888px */
        /* display: flex */
        align-items: center
        width: 100%
        text-transform: uppercase
        width: 100%
        justify-content: space-between

        &__item
            display: flex
            align-items: center
            color: $whiteColor
            font-family: Mulish
            font-size: 14px
            font-style: normal
            font-weight: 700
            line-height: 28px /* 200% */
            text-transform: uppercase
            text-align: center

.top-bar-pc
    padding: 0 75px
    background: $blackColor2
    justify-content: space-between

    &__ul
        color: $whiteColor
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 500
        line-height: 16px
        list-style: none
        display: flex
        margin: 0
        padding: 0

    &__li
        border-right: 1px solid $grayColor2
        padding-right: 15px
        margin: 5px 15px 5px 0

    &__li:last-child
        border-right: unset
        padding-right: 0
        margin: 5px 0

    &__widget
        display: flex
        gap: 0 20px

    &__date
        color: $whiteColor
        text-align: right
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 500
        line-height: 16px

    &__login-register
        color: $whiteColor
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 500
        line-height: 16px

.top-bar-mobile

    .vertical-division
        height: 16px

    &__menu
        padding: 8px 12px
        display: flex
        border-bottom: 1px solid $grayColor5

    &__widget
        display: flex
        align-items: center
        padding: 5px 12px

    &__ul
        margin: 0
        display: flex
        list-style: none
        color: $grayColor1
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 600
        line-height: 28px
        width: 100%
        justify-content: space-between
        padding-left: 12px
        align-items: center

.menu-mobile
    height: 100vh
    position: fixed
    width: 100vw
    top: 0
    left: 0
    color: $whiteColor
    overflow: scroll
    background-color: $blueColor2
    transition: left .5s

    &.--hide
        left: -100%

    &__icon-arrow
        rotate: 0deg
        transition: rotate .5s

        &.--down
            rotate: 180deg

    &__close-box
        height: 68px
        padding: 0 12px
        display: flex
        align-items: center
        justify-content: right

    &__colors-line
        display: flex
        .line-1
            width: 25%
            border: 1px solid $orangeColor
        .line-2
            width: 25%
            border: 1px solid $redColor
        .line-3
            width: 25%
            border: 1px solid $greenColor2
        .line-4
            width: 25%
            border: 1px solid $blueColor3

    &__content
        padding: 20px 12px

    &__search-box
        position: relative

    &__input-search,
    &__button-search
        border-radius: 200px !important

    &__input-search
        width: 100%
        height: 40px
        padding: 0 80px 0 13px

    &__button-search
        width: 78px
        height: 36px
        flex-shrink: 0
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        border: 1px solid $whiteColor
        background-color: $orangeColor
        color: $whiteColor

    &__text-btn-search
        color: $whiteColor
        text-align: center
        font-family: Mulish
        font-size: 16px
        font-style: normal
        font-weight: 700
        line-height: 24px

    &__menu
        list-style: none
        padding: 0
        flex-wrap: wrap
        display: flex

    &__menu-item
        color: $orangeColor
        font-family: Mulish
        font-size: 15px
        font-style: normal
        font-weight: 700
        line-height: 24px
        width: 50%
        // height: 25px

        &.--extend
            // height: 100%

    &__child-menu
        list-style: none
        height: 100%
        visibility: visible
        overflow: hidden

        &.--hide
            height: 0
            visibility: hidden

    &__child-menu-item
        color: $whiteColor
        font-family: Mulish
        font-size: 15px
        font-style: normal
        font-weight: 400
        line-height: 24px

    &__slogan
        margin: 0
        color: $whiteColor
        text-align: center
        font-family: "SF Pro Display"
        font-size: 12px
        font-style: normal
        font-weight: 400
        line-height: normal
        text-transform: uppercase
        padding: 9px 0 6px 0
        border-top: .8px solid $blueColor4
        border-bottom: .8px solid $blueColor4

    &__contact-box
        display: flex
        gap: 0 18px

    &__email-box,
    &__phone-box
        width: 50%
        display: flex
        gap: 0 6px
        justify-content: center

    &__emails,
    &__phones
        display: flex
        flex-flow: column

    &__email,
    &__phone
        color: $whiteColor
        font-family: Mulish
        font-size: 12px
        font-style: normal
        font-weight: 700
        line-height: normal

    &__copy-right
        color: $whiteColor
        text-align: center
        font-family: "SF Pro Display"
        font-size: 10px
        font-style: normal
        font-weight: 500
        line-height: 12px
        padding: 16px 0 4px 0
        width: 100%
        display: flex
        justify-content: center

    &__copy-right-text
        width: 280px
        margin: 0

    .logo
        padding: 13px 0
        display: flex
        flex-flow: column
        align-items: center

        &__character
            -webkit-text-stroke-width: 0.4618357717990875
            -webkit-text-stroke-color: #0B1D40
            font-size: 39.256px
            font-weight: 400
            line-height: 32.329px

.homepage
    .container
    // ---- START BLOCK 1

    .item-info
        display: flex

        &__created-at,
        &__created-at-hour
            color: $grayColor2
            font-family: Mulish
            font-size: 10px
            font-style: normal
            font-weight: 500
            line-height: 16px
            text-transform: uppercase

        &__category
            color: $redColor1
            font-family: Mulish
            font-size: 10px
            font-style: normal
            font-weight: 500
            line-height: 16px
            text-transform: uppercase

    .block-1
        .list-post
            color: $redColor
            padding: 15px 12px 15px 25px

            @media (max-width: 992px)
                margin-bottom: 0

            span
                color: $textColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 600
                line-height: 20px

        &.box-border
            @media (max-width: 992px)
                border: unset

        .left-content
            padding: 15px
            flex-shrink: 0
            border-right: 0.5px solid $borderColor
            @media (max-width: 992px)
                padding: 0

            &__main-post
                border-radius: 6px
                background: linear-gradient(0deg, $blueColor 0%, $blueColor 100%), url(<path-to-image>) lightgray 50% / cover no-repeat
                @media (max-width: 992px)
                    background: unset

            &__list-post
                color: $textColor
                font-family: Mulish
                font-size: 16px
                font-style: normal
                font-weight: 600
                line-height: 20px
                padding: 16px 15px

                & ul
                    padding: 0

            .main-post
                &__content
                    padding: 15px 15px 30px 15px
                    width: auto
                    height: 173px
                    flex-shrink: 0
                    @media (max-width: 992px)
                        width: 100%
                        height: auto
                        display: flex
                        flex-flow: column
                        padding: 16px 12px 0 12px

                &__image
                    width: 100%
                    height: 332px
                    border-radius: 6px 6px 0px 0px

                    @media (max-width: 992px)
                        border-radius: unset
                        height: 212px
                        object-fit: cover

                &__info
                    display: flex
                    justify-content: space-between
                    align-items: center

                    @media (max-width: 992px)
                        order: 3
                        border-bottom: 0.8px solid gray
                        padding: 14px 0 16px 0
                        justify-content: flex-start

                &__time-comment
                    display: flex
                    gap: 0 6px
                    @media (max-width: 992px)
                        order: 1

                &__description
                    @media (max-width: 992px)
                        order: 2

                &__category
                    color: $redColor
                    font-family: Mulish
                    font-size: 10px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px
                    text-transform: uppercase
                    @media (max-width: 992px)
                        order: 2
                        color: $redColor1
                        font-family: Mulish
                        font-size: 10px
                        font-style: normal
                        font-weight: 500
                        line-height: 16px
                        text-transform: uppercase

                &__created-at,
                &__created-at-hour
                    color: $whiteColor
                    text-align: right
                    font-family: Mulish
                    font-size: 10px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px

                    @media (max-width: 992px)
                        color: $grayColor2
                        font-family: Mulish
                        font-size: 10px
                        font-style: normal
                        font-weight: 500
                        line-height: 16px
                        text-transform: uppercase

                &__title
                    color: $whiteColor
                    font-family: Mulish
                    font-size: 26px
                    font-style: normal
                    font-weight: 800
                    line-height: 36px
                    margin: 0
                    width: 459px
                    height: 107px
                    flex-shrink: 0

                    @media (max-width: 992px)
                        color: $blackColor1
                        width: 100%
                        order: 1

                &__comment
                    color: $whiteColor
                    font-family: Mulish
                    font-size: 11px
                    font-style: normal
                    font-weight: 600
                    line-height: 28px

            &__li
                margin-bottom: 12px

            &__li:last-child
                margin-bottom: 0px

        .right-content
            padding: 15px
            @media (max-width: 992px)
                padding: 15px 12px

            &__item
                display: flex
                flex-flow: column
                border-bottom: 0.8px solid $borderColor
                padding-bottom: 15px
                margin-bottom: 15px

                @media (max-width: 992px)
                    padding-bottom: 12px
                    margin-bottom: 12px

            &__item:last-child
                border-bottom: unset
                padding-bottom: 0
                margin-bottom: 0

            &__item-content
                display: flex
                flex-flow: row
                gap: 0 32px
                @media (max-width: 992px)
                    gap: 0 12px
                    justify-content: space-between

            &__title-box
                display: flex
                flex-flow: column
                justify-content: space-between

            &__title
                color: $blackColor
                font-family: Mulish
                font-size: 17px
                font-style: normal
                font-weight: 700
                line-height: 24px

            &__info
                align-items: flex-end
                margin-top: 5px

            & ul
                margin: 0

            &__image
                width: 161px
                height: 111px
                flex-shrink: 0
                border-radius: 4px
                object-fit: cover
                @media (max-width: 992px)
                    width: 134px
                    height: 93px
                    flex-shrink: 0
    // ---- END BLOCK 1

    // ---- START BLOCK 2
    .block-2
        display: flex
        gap: 0 16px
        padding: 23px 12px 12px 12px
        margin-right: calc(-.5* 1.5rem)
        margin-left: calc(-.5* 1.5rem)

        @media (max-width: 992px)
            flex-flow: column
            padding: 8px 12px 12px 12px

        .main-content
            width: calc(100% - 300px)
            @media (max-width: 992px)
                order: 2
                width: 100%

            .item
                display: flex
                gap: 0 16px
                border-bottom: 0.8px solid $borderColor
                padding-bottom: 14px
                margin-bottom: 14px

                @media (max-width: 992px)
                    padding-bottom: 12px
                    margin-bottom: 12px
                    flex-flow: column

                &:last-child
                    border-bottom: unset
                    padding-bottom: 0
                    margin-bottom: 0

                & .item-info
                    @media (max-width: 992px)
                        margin-top: 5px

                &__content-box
                    display: flex
                    flex-flow: row
                    @media (max-width: 992px)
                        justify-content: space-between

                &__title
                    color: $blackColor
                    font-family: Mulish
                    font-size: 18px
                    font-style: normal
                    font-weight: 800
                    line-height: 24px
                    @media (max-width: 992px)
                        color: $blackColor
                        font-family: Mulish
                        font-size: 17px
                        font-style: normal
                        font-weight: 700
                        line-height: 24px

                &__content
                    order: 1
                    display: flex
                    flex-flow: column
                    justify-content: space-between

                &__image
                    order: 2
                    width: 161px
                    height: 111px
                    flex-shrink: 0
                    border-radius: 4px
                    @media (max-width: 992px)
                        width: 134px
                        height: 93px
                        flex-shrink: 0

        .ads
            width: 316px
            height: 616px
            padding: 8px
            border: 0.8px solid $borderColor
            background: $whiteColor

            @media (max-width: 992px)
                order: 1
                width: 100%
                height: 600px

                display: flex
                justify-content: center
                margin-bottom: 24px
                border: unset
                padding: 0

            &__content
                width: 300px
                height: 600px
                background: $grayColor3
    // ---- END BLOCK 2
