$textColor: #3A3A3A
$whiteColor: #FFF
$whiteColor1: #F4F4F4
$yellowColor1: #FFF8E2
$yellowColor2: #F2C94C
$yellowColor3: #BDBDBD
$orangeColor: #F2994A
$orangeColor2: #FF7800
$redColor: #FC151D
$redColor1: #F00
$greenColor2: #27AE60
$blueColor2: #0B1D40
$blueColor3: #56CCF2
$blueColor4: #3D5D9A
$blueColor5: #2F80ED
$blueColor6: #274884
$purpleColor2: #BB6BD9
$blackColor: #000
$borderColor: #DBDCDF
$blueColor: #111435
$grayColor1: #3A393E
$grayColor2: #89888B
$grayColor3: #EDEDED
$grayColor4: #DADADA
$grayColor5: #8585858a
$grayColor6: #F5F5F5
$grayColor7: #656565
$grayColor8: #ACACAC
$grayColor9: #797979
$grayColor10: #575757
$grayColor11: #787878
$grayColor12: #7B7B7B
$grayColor13: #8D8D8D
$grayColor14: #3A3A3A
$blackColor1: #000
$blackColor2: #010B1E
