$textColor: #3A3A3A
$whiteColor: #FFF
$orangeColor: #F2994A
$redColor: #FC151D
$redColor1: #F00
$greenColor2: #27AE60
$blueColor3: #56CCF2
$purpleColor2: #BB6BD9
$blackColor: #000
$borderColor: #DBDCDF
$blueColor: #111435
$grayColor2: #89888B
$grayColor3: #EDEDED
$blackColor1: #000
